body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  width: 200px;
  height: 135px;
  background-color: blue;
}

h1 {
  font-size: 32px;
  color: aliceblue;
}

h2 {
  font-size: 28px;
  color: thistle;
}

h3 {
  font-size: 15px;
  color: gray;
}

h4 {
  font-size: 9px;
  color: gray;
}

#elementos_wifi {
}
#imagen_1 { 

  

}

#bowl_img {
}

#pastel_img {
}

#wifi_img {
}

#ayuda_img {
}

#guarderia {
}

#reglamento {
}

#medicos {
}

#lostandfound {
}
